.qconfrmbox {
    background: var(--pop-bg-color);
    text-align: left;
    width: 40%;
    height: 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12%;
}

.qconfrmbody {
    color: #f6dada;
    width: 95%;
    padding: 0% 2%;
    text-align: left;
}

.qconfrmbody img {
    height: auto;
    width: 18%;
    float: right;
}

.qconfrmfoot {
    width: 95%;
    padding: 0% 2%;
}

.qconfrmfoot input{
    padding: 1%;
    background-color: rgba(78, 88, 119, 0.588);
    border-radius: 8px;
    height: 15%;
    width: 40%;
    color: #f6dada;
}

.qconfrmfoot button {
    margin: 0% .5%;
    float: right;
}