.dashresult {
    border-radius: 5px;
    background-color: var(--comp-bg-color);
    width: 95%;
    height: 80%;
    margin: 8px;
    padding: 12px;
}

.resultflex {
    display: flex;
    align-items: center;
    height: 90%;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: auto;
}

.rflexcont {
    position: relative;
    flex-shrink: 0;
    background-image: url("../../Images/result.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.736);
    margin: 7px 10px;
    padding: 5px 10px;
    border-radius: 3%;
    width: 15%;
    height: 35%;
}

.rflexcont button {
    position: absolute;
    width: 55%;
    height: 22%;
    bottom: 8%;
    right: 4%;
}