.homebody {
    height: 86%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
    color: #f6dada;
}

.homeleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.homeleft h1 {
    font-size: 45px;
}

.homeleft p {
    font-size: 20px;
}

.homebtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
    gap: 1%;
}

.homebtn button {
    width: 15%;
    height: 45%;
    font-weight: bold;
    font-size: medium;
}

.homecont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homecont p {
    font-size: 14px;
}

.homecont div {
    background-color: #1d367a;
    width: 32%;
    border-radius: 2%;
    padding: 2%;
}

.homebody img {
    height: auto;
    width: 35%;
}