.homebody {
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homebody div {
    background-color: var(--comp-bg-color);
    padding: 20px;
    margin: 10px;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(214, 210, 204);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.736);
    text-align: center;
}

.homebody img {
    height: auto;
    width: 10%;
    margin: 5px;
}