:root {
  --background: #ffffff;
  --foreground: #171717;
  --comp-bg-color: #1d367a64;
  --pop-bg-color: linear-gradient(120deg, #273a8fd4 0%, #613fccfa 100%);
  
}

*{
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(120deg, #647be2f7 0%, #c6c2d3e6 100%);
  font-family: Verdana, sans-serif;
  margin: 0;
  height: 100vh;
  font-size: 90%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 1px;
}

button {
  padding: 5px;
  background: linear-gradient(135deg, #FF7E5F, #FEB47B);
  border-radius: 5px;
  font-weight: 100;
  transition: transform 0.5s ease;
}

button:hover {
  box-shadow: 0 8px 8px 0 rgba(50, 50, 51, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scale(1.05);
}

span {
  display: flex;
  align-items: center; 
  font-family: 'Montserrat', sans-serif;
  gap: 5px;
  justify-content: center;
  height: 100%;
}

.popbg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}




