.qoverbox {
    background: var(--pop-bg-color);
    text-align: left;
    width: 50%;
    height: 55%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f6dada;
}

.qoverhead {
    margin: 2%;
}

.qoverdet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 15px;
}

.qoverbox img {
    height: auto;
    width: 15%;
    margin: 5px;
    text-align: center;
}

.qoverbox h3 {
    background-color: rgb(76, 80, 109);
    color: azure;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    width: 30%;
    margin: 5px;
    padding: 10px;
}

.qoverbox button {
    margin: 8px 80px;
    padding: 5px;
    width: 20%;
    height: 8%;
}