.qcreatebox {
    background: var(--pop-bg-color);
    text-align: left;
    width: 40%;
    height: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f6dada;
}

.qcreatebox img {
    height: auto;
    width: 15%;
    margin: 5px;
    text-align: center;
}

.qcreatebottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.qcreatebottom button {
    margin: 2%;
    padding: 5px;
    width: 25%;
    height: 30%;
}
