.qanalybox {
    background: var(--pop-bg-color);
    text-align: left;
    width: 60%;
    height: 65%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f6dada;
}

.qanalyhead {
    margin-top: 2%;
}

.qanalybody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1%;
    width: 100%;
    height: 90%;
}

.xmdetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    text-align: left;
}

.xmdetail img {
    height: auto;
    width: 8%;
}

.qrs {
    border-radius: 5px;
    background-color: rgba(183, 181, 181, 0.222);
    padding: 1%;
    width: 95%;
    height: 60%;
    overflow-y: auto;
}

.rsbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    background-color: #eff3e448;
    color: black;
    border-radius: 5px;
    margin: 6px;
    padding: 2px 6px;
    border-color: rgb(200, 199, 193);
    border-style: solid;
}

.rscirc {
    border-radius: 50%;
    border: 4px solid rgb(255, 16, 16);
    background-color: rgba(156, 167, 234, 0.751);
    padding: 2%;
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}   